  .projects-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    /* This creates space between cards */
    padding-bottom: 1.5rem;
    background-color: transparent;
    border-radius: 0.5rem;
  }

  .projects-hscroll {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 15px;
    padding-bottom: 1rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .projects-hscroll::-webkit-scrollbar {
    display: none;
  }

  .projects-hscroll::-webkit-scrollbar-track {
    background: #1C1C1C;
  }

  .projects-hscroll::-webkit-scrollbar-thumb {
    background: #ececec;
    border-radius: 4px;
  }

  .project-card {
    background-color: #1C1C1C;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    outline: 1px solid #313131;
    outline-offset: -1px;
    flex: 1;
  }

  .project-pic {
    width: 100%;
    height: 250px;
    /* Keep for index.html */
    object-fit: fill;
    /* Keep for index.html */
    display: block;
  }

  .page-projects .project-pic {
    height: 225px;
    /* Remove fixed height for projects.html */
    object-fit: cover;
    /* Maintain aspect ratio */
  }

  .project-content {
    margin-top: -1rem;
    padding: .5rem;
  }

  .project-card:hover {
    transform: translateY(-5px);
  }

  .project-image-wrapper {
    background-color: #1b1b1b;
    /* Filler background */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 1rem;
    height: 225px;
    background-color: 1b1b1b;
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: hidden;
}

.project-pic2 {
    height: 100%;
    width: auto;
    object-fit: cover;
    object-position: top;
    transform: scale(1.6);
    display: block;
    margin-top: 5rem;
}